* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 5px;
  box-sizing: border-box;
  background-color: rgb(24, 23, 23);
}

.container {
  margin-top: 20px;
  width: 100%;
  align-items: center;
}

#pagetop {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
  width: 20%;
  height: 40px;
}

#list {
  color: azure;
  border-radius: 5px;
}

#getbutton {
  margin-left: 5px;
  color: azure;
  border-radius: 5px;
}

#containertop {
  height: 100vh;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
  display: flex;
}

.left {
  width: 40%;
  
}

img {
  border-radius: 8px;
}

.right {
  width: 55%;
}

h1 {
  color: rgb(225, 218, 218);
  font-size: 60px;
}

h3 {
  color:rgb(175, 169, 169);
  font-size: 35px;
}

p {
  color: rgb(158, 156, 156);
  font-size: 20px;
}

#containerbot {
  overflow: hidden;
  width: 100%;
}

iframe {
  bottom: 0px;
  float: right;
  border-radius: 8px;
  position: sticky;
  aspect-ratio: 16/9;
  width:50%
  
}
